<div class="flex min-h-screen items-center justify-center bg-slate-100">
    <div class="w-[420px] rounded-lg bg-white p-8 shadow-lg">
        <h1 class="mb-6 text-center text-3xl font-bold">Warehouse Login</h1>

        <div class="mb-4">
            <label class="mb-2 block">Email</label>
            <input
                type="text"
                name="username"
                [(ngModel)]="loginData.username"
                class="w-full rounded border p-3">
            </div>
            <div class="mb-4">
                <label class="mb-2 block">
                    Password
                </label>
                <input
                name="password"
                [(ngModel)]="loginData.password"
                type="password"
                class="w-full rounded border p-3">
        </div>
        <button
        (click)="postLogin()"
        class="mb-4 w-full rounded bg-blue-700 p-3 text-white">Login</button>
<p class="text-center text-sm">Don't have an account?
    <a
                routerLink="/register"
                class="font-semibold text-blue-700">
                Register
            </a>
        </p>
    </div>
</div>