<div class="h-full w-64 bg-slate-800 p-5 text-white">

    <ul class="space-y-3">

        <li>
            <a
                routerLink="/dashboard"
                class="block rounded p-3 hover:bg-slate-700">
                Dashboard
            </a>
        </li>

        <li>
            <a
                routerLink="/products"
                class="block rounded p-3 hover:bg-slate-700">
                Products
            </a>
        </li>

        <!-- <li>
            <a
                routerLink="/receive"
                class="block rounded p-3 hover:bg-slate-700">
                Receive Material
            </a>
        </li> -->

        <li>
            <a
                routerLink="/transactions"
                class="block rounded p-3 hover:bg-slate-700">
                Transaction History
            </a>
        </li>

    </ul>

</div>